@import 'antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  padding-top: 50px;
  height: 80vh;
}
.ant-layout-content {
  padding-top: 50px;
}
h1 {
  color: #fff;
  font-size: 20px;
}
.ant-card-body {
  padding: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.MyCard {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 4s;
  position: relative;
  perspective: 500px;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}
.scene {
  padding: 0;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.MyCard {
  .is-flipped {
    transform: rotateY(180deg);
  }
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  transform: rotateY(0deg);
  background: rgba(22, 57, 101, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.57);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
  background-color: rgb(173, 172, 172);
  box-shadow: 0 8px 32px 0 rgba(48, 58, 206, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  line-height: 12px;
  font-size: 12px;
  color: #fff;
}

.center-block {
  padding: 20px 50px;
  background: rgba(22, 57, 101, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  width: 70vh;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.ant-layout-shifr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-shifr {
  background-color: #000;
}
.sliderNumber {
  width: 150px;
}
